.home-btn{
    margin-bottom: 40px;
    width: 170px;
    height: 30px;
    padding-top: 5px;
    color: white;
    font-weight: bolder;
    font-size: medium;
    background-color: rgb(84, 162, 231);
    margin-left: 75px;
    border-radius: 5px;
}

.customer-reviews{
    text-align: center;
}