.navbar{
    margin-top: -5px;
    background-color: rgb(221, 251, 251);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 22px;
}

.navbar a:hover{
    color: red;
    font-weight: bolder;
}